
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #ddd;
}

.navbar-left .app-title {
    font-size: 24px;
}

.navbar-right .log-link {
    margin-left: 20px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 8px;
    background-color: #ffffff;
}

.navbar-right .sign-link {
    margin-left: 12px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 8px;
    background-color: #ffffff;
}

.navbar-right .log-link:hover {
    background-color: #2563eb;
    color: #ffffff;
}

.navbar-right .sign-link:hover {
    background-color: rgb(201, 66, 66);
    color: #ffffff;
}

.categories {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 150px;
    padding-left: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px

}

.card {
    width: 250px;
    height: 150px;
    background: #f5f5f5;
    border-radius: 12px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-name{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 18px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;

}

.card-desc{
    flex: 1;
    padding: 15 15px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.card-btn{
    display: block;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    background: #2563eb;
    color:white;
    font-weight: bold;
    transition: background 0.2s ease;
}

.card-btn:hover{
    background: #1e40af;
}

.calc-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #555;
    margin: 60px auto;
    box-sizing: border-box;
    min-width: 40px;
    min-height: 400px;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.calc-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    background: #eaeaea;
}

.categories h3{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-top: 1px;
}

.cat-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.cat-form input,
.cat-form select,
.cat-form button {
    padding: 10px;
    font-size: 16px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.login-page{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-card{
    width: 400px;
    padding: 0;
    border-radius: 20px;
    border: 2px solid #ccc;
    background: #fff;
    text-align: center;
}

.login-strip{
    padding: 20px;
    border-bottom: 2px solid #ddd;
    background: #f7f7f7;
    border-radius: 18px 18px 0 0;
}

.login-strip h1{
    margin: 0;
    font-size: 28px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 30px;
}

.login-form input{
    padding: 14px;
    border-radius: 30px;
    border: 1.5px solid #333;
    font-size: 16px;
}

.login-btn{
    margin-top: 10px;
    padding: 12px;
    border-radius: 30px;
    border: 1.5px solid #333;
    background: #fff;
    cursor: pointer;
    font-size:16px ;
}

.sign-page{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-card{
    width: 400px;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    background: #fff;
    text-align: center;
}

.sign-strip{
    padding: 20px;
    border-bottom: 2px solid #ddd;
    background: #f7f7f7;
    border-radius: 18px 18px 0 0;
}

.sign-strip h1{
    margin: 0;
    font-size: 28px;
}

.sign-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 30px;
}

.sign-form input{
    padding: 14px;
    border-radius: 30px;
    border: 1.5px solid #333;
    font-size: 16px;
}

.sign-btn{
    margin-top: 10px;
    padding: 12px;
    border-radius: 30px;
    border: 1.5px solid #333;
    background: #fff;
    cursor: pointer;
    font-size:16px ;
}
