<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UniCalc{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <div class="navbar-left">
        <h1 class="app-title">UniCalC</h1>
    </div>
    <div class="navbar-right">
        <a href="/login" class="log-link">Login</a>
        <a href="/signup" class="sign-link">Signup</a>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
