{% extends "base.html" %}

{% block title %}Uni Calc{% endblock %}

{% block content %}
<div class="categories">
    <div class="card">
        <h3 class="card-name">Basic</h3>
        <p class="card-desc">Add, Substract, Multiply & Divide</p>
        <a class="card-btn" href="/basic">Calculate</a>
    </div>


    

    <div class="card">
        <h3 class="card-name">Finance</h3>
        <p class="card-desc">EMI, Loans, Interest & Investments</p>
        <a class="card-btn" href="/finance">Calculate</a>
    </div>


    


    <div class="card">
        <h3 class="card-name">Health</h3>
        <p class="card-desc">BMI, BMR etc</p>
        <a class="card-btn" href="/health">Calculate</a>
    </div>


    

    

</div>


{% endblock %}