{% extends "base.html" %}

{% block title %}Uni Calc{% endblock %}

{% block content %}
<div class="categories">
    <div class="card">
        <h3 class="cat-head">Basic</h3>
        <p>Add, Substract, Multiply & Divide</p>
        <a href="/basic">Calculate</a>
    </div>


    <div class="card">
        <h3>Scientific</h3>
        <p>Trigonometry, Powers, Logarithms</p>
        <a href="/scientific-calc">Calculate</a>
    </div>

    <div class="card">
        <h3>Finance</h3>
        <p>EMI, Loans, Interest & Investments</p>
        <a href="/scientific-calc">Calculate</a>
    </div>


    <div class="card">
        <h3>Programming Conversions</h3>
        <p>Binary, Octal, Hexadecimal</p>
        <a href="/scientific-calc">Calculate</a>
    </div>


    <div class="card">
        <h3>Health</h3>
        <p>BMI, BMR, Calorie Tracking</p>
        <a href="/scientific-calc">Calculate</a>
    </div>


    <div class="card">
        <h3>Time & Date</h3>
        <p>Age, Date Difference, Time Zones</p>
        <a href="/scientific-calc">Calculate</a>
    </div>

    <div class="card">
        <h3>Construction & Real Life</h3>
        <p>Area, Volume</p>
        <a href="/scientific-calc">Calculate</a>
    </div>

</div>


{% endblock %}