{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="sign-page">
<div class="sign-card">
    <div class="sign-strip">
        <h1>
            Sign Up
        </h1>
    </div>
    <form method="POST" class="sign-form">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password"  placeholder="Confirm Password" required>

        <button class="sign-btn" type="submit">Sign Up</button>
    </form>
    </div>
</div>



{% endblock %}